*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.nav-1{
    font-family: "Poppins", sans-serif;  
}

body{
    background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.full-img{
    background-image: url('asset/pexels-codioful-7130488.jpg');
}
.glass{
    font-family: "Poppins", sans-serif;  
    width:52rem ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    border-radius: 2rem;
    height: 3rem;
    border: transparent;
    transition: all 0.3s ease-in-out;

}

.input-2{
    font-family: "Poppins", sans-serif;  
    width: 96%;
    height: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
    border: transparent;
    transition: all 0.3s ease-in-out;
    
}
.input-2:focus-visible{
    outline: 0px;
    transform: scale(1.03);
  }
.input-2:hover{
transform-style: preserve-3d;
}


.btn-2:hover{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.btn-2{
    background-color: 	#ffd966;
    font-family: "Poppins", sans-serif;  
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    font-weight:initial;
    font-size: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

/* media quary */


@media (max-width:700px){
    .input-2{
        width: 91%;
    }

}


.m-div{
    width: 20rem;
}