*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}



.full-img{
    background-image: url('asset/pexels-codioful-7130488.jpg');
}
.glass{
    width:50rem ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    border-radius: 5px;
    height: 3rem;
    border: 1px solid black;
}

.input-2{
    width: 96%;
    height: 3rem;
    border-radius: 5px;
    padding: 1rem;
    
}
.input-2:hover{
transform-style: preserve-3d;
}


.btn-2:hover{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.btn-2{
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    background-color: rgb(255, 187, 0);
    font-weight:initial;
    font-size: 120%;
}

/* media quary */


@media (max-width:700px){
    .input-2{
        width: 91%;
    }

}


